/* GloBal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Hind', sans-serif;
}

.title h2{
    font-size: 36px;
    font-weight: bold;
    color: #1a1d2d;
}

.title p{
    color: #585858;
}
a:hover{
    text-decoration: none;
}


/* HEADER */
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

header .navbar-brand i{
    color: #35a22c;
    font-size: 45px;
}

header .navbar-brand span{
    font-size: 35px;
    color: white;
}

header .navbar-light .navbar-nav .active>.nav-link{
    font-size: 400;
    color: #35a22c;
}

header .navbar-light .navbar-nav .active::after{
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: #35a22c;
}

header .navbar-light .nav-item::after{
    content: "";
    width: 0;
    height: 2px;
    display: block;
    transition: all .5s;
}

header .container .navbar-light .active::after{
    content: "";
    width: 100%;
    height: 2px;
    color: #35a22c;
}

header .navbar-light .nav-item:hover:after{
    content: "";
    width: 100%;
    background-color: #35a22c;
}

header .navbar-light .nav-item{
    transition: all .5s;
    margin: 0 10px;
}

header .navbar-light .nav-item .nav-link{
    color: white;
    transition: all .5s;
}

header .navbar-light .nav-item .nav-link:hover{
    color: #35a22c;

}

header .navbar-light .nav-item:hover{
    color: #35a22c;
    font-weight: 400;
}


/* CAROUSEL */
#carousel .carousel-item{
    height: 100vh;
}

#carousel .carousel-item::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(39,43,54,.5);
    top: 0;
    left: 0;
}

#carousel .carousel-caption img{
    width: 150px;
    height: 150px;
    border-radius: 100rem;
}

#carousel .carousel-caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#carousel .carousel-caption h5{
    font-size: 50px;
}

#carousel .carousel-caption p{
    font-weight: 400;
    font-size: 21px;
    line-height: 3rem;
}
#carousel .carousel-indicators li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
#carousel .carousel-indicators li.active {
    background-color: #35a22c;
}

/* PROJECT */
.title{
    max-width: 750px;
}

.project__content .nav-item .nav-link{
    border: 1px solid #1a1d2d;
    color: #1a1d2d;
    margin: 0 5px;
}

.project__content .nav-item .nav-link.active{
    background-color: #35a22c;
    border-color: #35a22c;
    color: white;
}

.project__item{
    margin-top: 30px;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 0.4rem rgb(0 0 0 / 13%);
}

.project__item h3{
    transition: all .5s;
}

.project__item:hover h3{
    color: #35a22c;
}

.card__body{
    padding: 20px;
    border: 1px solid transparent;
}

/* FEATURE */
.feature{
    background: url(../img/3.jpg) fixed;
    background-size: cover;
    padding: 100px 0 120px;
    position: relative;
}

.feature .feature__title{
    position: relative;
}
.feature__overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7,10,12,.72);
}

.feature__content{
    position: relative;
}

.feature__item{
    color: white;
    background-color:rgba(255,255,255,.1);
    padding: 40px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.1);
    backdrop-filter: blur(3px);
    transition: all .5s;
}

.feature__item:hover{
    background-color: black;
    border: 1px solid white;
}

.feature__item i{
    color: #35a22c;
    font-size: 48px;
}

.feature__item h4{
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    padding-top: 25px;
    font-weight: 800;
}

.feature p{
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
}

/* AWARD */
.award{
    position: relative;
    padding: 70px 0;
}

.bg__award{
    background-image: url(../img/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity: .5;
    width: 100%;
    height: 100%;


    position: absolute;
    top: 0;
    left: 0;
}

.award__right{
    padding: 45px 0;
}

.award__left{
    background: rgba(255,255,255,.25);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.18);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    padding: 45px;
}

/* FOOTER */
footer{
    background-color: #222;
    color: #aaa;
}

footer a{
    color: #aaa;
}

.footer__top a{
    margin-right: 10px;
    text-decoration: none;
}

.footer__top i{
    width: 42px;
    height: 42px;
    border-radius: 100rem;
    line-height: 42px;
    border: 1px solid #454545;
    transition: all 1s;
    overflow: hidden;
}

.footer__top i:hover{
    border-color: #35a22c;
    color: #35a22c;
}

.footer__bottom{
    border-top: 1px solid #454545;
    padding-top: 30px;
    margin-top: 30px;
}

.footer__bottom a:hover{
    color: #35a22c;
}